# Sort by individual file (alphabetically)
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintrc.js
.pytest_cache/
.pnp
.pnp.js
.vscode/
coverage
build
logs/
migrations/
node_modules/
npm-debug.log*
restful_api_collection
yarn-debug.log*
yarn-error.log*

# Sort by directory (alphabetically)
__pycache__/
iso/
instance/
.venv/