.venv/

server/iso/
server/__pycache__/
server/instance/
server/.env
server/.venv/
server/routes/__pycache__/
server/logs/
server/migrations/
server/restful_api_collection
server/.pytest_cache/

client/node_modules/
client/.pnp
client/.pnp.js
client/.eslintrc.js
client/coverage
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.env
client/.eslintrc.js

server/.vscode/
client/.vscode/
.vscode/